#
# ESP Rover Config
#
# CONFIG_VL53L0X_DEBUG is not set
# CONFIG_ESP_ROVER_DEBUG is not set
CONFIG_ESP_ROVER_MAX_POWER=100

#
# Autodrive Thresholds
#
CONFIG_AUTODRIVE_FRONT_CENTER_THRESHOLD=420
CONFIG_AUTODRIVE_FRONT_LATERAL1_THRESHOLD=420
CONFIG_AUTODRIVE_FRONT_LATERAL2_THRESHOLD=420
CONFIG_AUTODRIVE_SIDE_CENTER_THRESHOLD=250
# end of Autodrive Thresholds

#
# TOF Sensor Config
#
CONFIG_TOF0_XSHUT=14
CONFIG_TOF1_XSHUT=26
CONFIG_TOF2_XSHUT=25
CONFIG_TOF3_XSHUT=18
CONFIG_TOF4_XSHUT=19
# end of TOF Sensor Config

#
# PWM Config
#
CONFIG_M0_PWM=23
CONFIG_M1_PWM=27
CONFIG_M2_PWM=32
CONFIG_M3_PWM=33
CONFIG_NECK_PITCH_PWM=16
CONFIG_NECK_YAW_PWM=17
# end of PWM Config

#
# API Commands and Params
#
CONFIG_AUTO_DRIVE_COMMAND="auto"
CONFIG_DRIVE_COMMAND="drive"
CONFIG_MOVE_COMMAND="move"
CONFIG_STOP_COMMAND="stop"
CONFIG_ROTATE_COMMAND="rotate"
CONFIG_CALIBRATE_COMMAND="calibrate"
CONFIG_CMD_PARAM_NAME="cmd"
CONFIG_HEADING_PARAM_NAME="heading"
CONFIG_POWER_PARAM_NAME="power"
CONFIG_TURN_PARAM_NAME="turn"
# end of API Commands and Params
# end of ESP Rover Config

#
# Example Connection Configuration
#
CONFIG_EXAMPLE_GPIO_RANGE_MIN=0
CONFIG_EXAMPLE_GPIO_RANGE_MAX=33
CONFIG_EXAMPLE_CONNECT_WIFI=y
CONFIG_EXAMPLE_WIFI_SSID="SIDUSA"
CONFIG_EXAMPLE_WIFI_PASSWORD="20052009"
# CONFIG_EXAMPLE_WIFI_SCAN_METHOD_FAST is not set
CONFIG_EXAMPLE_WIFI_SCAN_METHOD_ALL_CHANNEL=y