menu "ESP Rover Config"
    menu "ESP Rover SONAR CONFIG"
        config SONAR_TRIG_1
            int "Sonar TRIG 1"
            default 14
        config SONAR_ECHO_1
            int "Sonar ECHO 1"
            default 32
        config SONAR_TRIG_2
            int "Sonar TRIG 2"
            default 25
        config SONAR_ECHO_2
            int "Sonar ECHO 2"
            default 26
        config SONAR_TRIG_3
            int "Sonar TRIG 3"
            default 21
        config SONAR_ECHO_3
            int "Sonar ECHO 3"
            default 22
        config SONAR_TRIG_4
            int "Sonar TRIG 4"
            default 0
        config SONAR_ECHO_4
            int "Sonar ECHO 4"
            default 15
    endmenu

    menu "ESP Rover PWM Config"
        config M0_PWM
               int "Motor 0 PWM pin"
               default 27
        config M1_PWM
                int "Motor 1 PWM Pin"
                default 33
        config M2_PWM
                int "Motor 2 PWM Pin"
                default 23
        config M3_PWM
                int "Motor 3 PWM Pin"
                default 4
    endmenu

    menu "ESP Rover Commands and Parameters"
        config AUTO_DRIVE_COMMAND
            string "auto"
            default "auto"
        config DRIVE_COMMAND
            string "Drive command"
            default "drive"

        config MOVE_COMMAND
                string "MOVE command"
                default "move"

        config STOP_COMMAND
            string "Stop command"
            default "stop"

        config ROTATE_COMMAND
            string "Rotate command"
            default "rotate"

        config CALIBRATE_COMMAND
                string "Calibration command"
                default "calibrate"

        config CMD_PARAM_NAME
            string "Parameter used for command"
            default "cmd"

        config HEADING_PARAM_NAME
            string "Parameter used for heading setting"
            default "heading"

        config POWER_PARAM_NAME
            string "Parameter used for power setting"
            default "power"

        config TURN_PARAM_NAME
            string "Parameter used for turn setting"
            default "turn"

    endmenu
endmenu
# IN1_PINS   {GPIO_NUM_14, GPIO_NUM_16, GPIO_NUM_21,  GPIO_NUM_0}
# IN2_PINS   {GPIO_NUM_12, GPIO_NUM_25, GPIO_NUM_22, GPIO_NUM_15}
# PWM_PINS   {GPIO_NUM_27, GPIO_NUM_33, GPIO_NUM_23,  GPIO_NUM_4}
# ENCA_PINS  {GPIO_NUM_32, GPIO_NUM_34, GPIO_NUM_18,  GPIO_NUM_5}
# ENCB_PINS  {GPIO_NUM_13, GPIO_NUM_35, GPIO_NUM_19, GPIO_NUM_17}
# RPM_FACTORS {1.0, 0.87, 0.84, 0.81}