menu "ESP Rover Pin Config"

# Input 1 Pinst
    config M1_IN1
            int "Motor 1 Input 1 Pin"
            default 14

    config M2_IN1
            int "Motor 2 Input 1 Pin"
            default 16

    config M3_IN1
                int "Motor 3 Input 1 Pin"
                default 21

    config M4_IN1
                int "Motor 4 Input 1 Pin"
                default 0
# Input 2 pins

    config M1_IN2
            int "Motor 1 Input 2 Pin"
            default 12

    config M2_IN2
            int "Motor 2 Input 2 Pin"
            default 25

    config M3_IN2
            int "Motor 3 Input 2 Pin"
            default 22

    config M4_IN2
            int "Motor 4 Input 2 Pin"
            default 15

# PWM Pins
    config M1_PWM
            int "Motor 1 PWM pin"
            default 27

    config M2_PWM
            int "Motor 2 PWM Pin"
            default 33

    config M3_PWM
            int "Motor 3 PWM Pin"
            default 23

    config M4_PWM
            int "Motor 4 PWM Pin"
            default 4
                
# ENCA Pins

    config M1_ENCA
            int "Motor 1 ENCA pin"
            default 32

    config M2_ENCA
            int "Motor 2 ENCA Pin"
            default 34

    config M3_ENCA
            int "Motor 3 ENCA Pin"
            default 18

    config M4_ENCA
            int "Motor 4 ENCA Pin"
            default 5

# ENCB Pins

    config M1_ENCB
            int "Motor 1 ENCB pin"
            default 13

    config M2_ENCB
            int "Motor 2 ENCB Pin"
            default 35

    config M3_ENCB
            int "Motor 3 ENCB Pin"
            default 19

    config M4_ENCB
            int "Motor 4 ENCB Pin"
            default 17
endmenu

menu "ESP Rover Adjustment Factors"
# Power Ajustment Pins

    config POWER_ADJUST1
            int "Motor 1 Power Adjustment Factor"
            default 100

    config POWER_ADJUST2
            int "Motor 2 Power Adjustment Factor"
            default 87

    config POWER_ADJUST3
            int "Motor 3 Power Adjustment Factor"
            default 84

    config POWER_ADJUST4
            int "Motor 4 Power Adjustment Factor"
            default 81

endmenu

menu "ESP Rover Commands and Parameters"
    config DRIVE_COMMAND
        string "Drive command"
        default "drive"

    config STOP_COMMAND
        string "Stop command"
        default "stop"

    config ROTATE_COMMAND
        string "Rotate command"
        default "rotate"

    config CALIBRATE_COMMAND
            string "Calibration command"
            default "calibrate"

    config CMD_PARAM_NAME
        string "Parameter used for command"
        default "cmd"

    config HEADING_PARAM_NAME
        string "Parameter used for heading setting"
        default "heading"

    config POWER_PARAM_NAME
        string "Parameter used for power setting"
        default "power"

endmenu
# IN1_PINS   {GPIO_NUM_14, GPIO_NUM_16, GPIO_NUM_21,  GPIO_NUM_0}
# IN2_PINS   {GPIO_NUM_12, GPIO_NUM_25, GPIO_NUM_22, GPIO_NUM_15}
# PWM_PINS   {GPIO_NUM_27, GPIO_NUM_33, GPIO_NUM_23,  GPIO_NUM_4}
# ENCA_PINS  {GPIO_NUM_32, GPIO_NUM_34, GPIO_NUM_18,  GPIO_NUM_5}
# ENCB_PINS  {GPIO_NUM_13, GPIO_NUM_35, GPIO_NUM_19, GPIO_NUM_17}
# RPM_FACTORS {1.0, 0.87, 0.84, 0.81}